@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-display: block;
}

.text-justify {
    margin: 0;
    text-align: justify;
}

.row {
    --bs-gutter-x: 1.5rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

/*===========For Header===========*/
.navbar {
    background-color: rgba(18, 24, 32, 0.5);
}

/*navbar button*/
.navbar-toggler {
    border: 0px;
}

.banner {
    background-color: rgb(18, 24, 32);
    height: 300px;
}

h2.header {
    position: absolute;
    top: 24%;
    text-align: center;
    width: 100%;
}

img.header {
    position: absolute;
    top: 14%;
    width: 100%;
}


/*======Footer=====*/
.footer {
    background-color: rgb(18, 24, 32);
    color: white;
    margin-top: 20px;
}

a.footer-link {
    text-decoration: none;
    color: white;
}

a.footer-link:hover {
    color: #FEC400;

}

/*=================*/

/*==========For Home Page*/
/*home teks border*/
.border-teks {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.carousel-image {
    width: 100%;
    height: auto;
}

img.card-img-home{
    max-width: 100%;
    max-height: auto;
}

/*=========For Vehicle Page*/
/*vehicle card*/
/*.vehicle {
    width: 300px;   
}*/

.card-vehicle {
    height: auto;
    width: 100%;
}

/*vehicle modal*/
.modal-content {
    background-color: rgb(18, 24, 32);
}

.btn-vcolor {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

/*==========For Contact Page*/
/*contact card*/
.icon {
    width: 30px;
    height: 30px;
}

.card {
    background-color: rgb(18, 24, 32);
    color: white;
}

.contact-card {
    position: relative;
    font-size: 1.1rem;
    background-color: rgb(18, 24, 32);
}

.contact-card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: white;
    color: rgb(18, 24, 32);
    border: 3px solid rgb(18, 24, 32);
}

/*----*/

/*Map*/
.card.map-card .living-coral {
    background-color: #FEC400;
}

.card.map-card .living-coral-text {}

.card-map-bg {
    background-color: rgb(18, 24, 32);
}

.card.map-card .table th {
    width: 2rem;
}

.card.map-card .pt-3-5 {
    padding-top: 1.25rem;
}

.card.map-card .card-body {
    background-color: rgb(18, 24, 32);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    overflow: hidden;
    background-color: transparent;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.card.map-card .card-body.closed {
    top: 100%;
    height: 7.5rem;
    margin-top: -7.5rem;
}

.card.map-card .map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.card.map-card .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card.map-card .button .btn-floating {
    margin-top: -1.5rem;
}

/*----*/


@media (max-width:992px) {
    .border-teks {
        border: 0px solid !important;
    }
}